body {
    margin: 0;
    font-size: 16px;
    font-family: monospace;
    color: #4a4a4a;
}

#top-bar {
    margin-bottom: 2em;
}

#ideapool {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

#ideapool textarea[name="newidea"] {
    display: none;
    max-height: 20em;
}

#ideapool .idea {
    display: inline-block;
    box-sizing: border-box;
    margin: .5em 1em;
    border-radius: .5rem;
    padding: 1em;
    width: 100%;
    background-color: whitesmoke;
}